.summaryCard{
    width:95%;
    margin: 2%;
}
.listView{
    display: inline-block;
    margin-left: 2%;
}
.header{
    font-size: 25px;
}
.order-box{
    display: flex;
  justify-content: center;
}

.content-center{
    text-align: center;
}

.cardLayout{
    width: 40%;
    margin: 2%;
}